<div class="row">
    <div class="col">
        <input #termino (keyup.enter)="buscar(termino.value)" class="form-control" type="search" placeholder="Buscar Artistas..." aria-label="Search">
        <!-- <input #termino (keyup)="buscar(termino.value)" class="form-control" type="text" placeholder="Buscar Artista" aria-label="Search"> -->

    </div>
</div>

<!-- <div class="card-columns p-5">
    <div class="card" *ngFor="let artista of artistas">
        <img class="card-img-top" [src]="artista.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
        </div>
    </div>
</div> -->
<app-loading *ngIf="loading" class="p-1"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>